<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../polymer/polymer.html">
    <link rel="import" href="../core-component-page/core-component-page.html">
    <link rel="shortcut icon" href="//www.onecodex.com/static/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="64x64" href="//www.onecodex.com/static/images/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//www.onecodex.com/static/images/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//www.onecodex.com/static/images/favicon-16.png">
  </head>
  <body unresolved>
    <core-component-page></core-component-page>
  </body>
</html>
